<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StudentsDatabase"
             connectionString="Server=VOSTRO3000;Database=StudentsDatabase;Trusted_Connection=True;"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>


